<!DOCTYPE html>
<html>
<head>
  <title>maya</title>
  <link rel="stylesheet" href=
  "/static/lib/wmui-style-guide.min.css">
  <link rel="stylesheet" href="/static/css/maya-site-specific.css">
  <meta name="description" content=
  "maya is a web service that provides machine learning as a service for Wikimedia Projects">
  <meta property="og:image" content=
  "https://maya.wikimedia.org/static/images/ores_logo.svg">
  <style type="text/css">
		.notice {
			border: 1px solid #b32424;
			margin: 4px 2em;
			background: #fee7e6;
			padding: 0.25em 0.9em;
		}
		.site__logo {
			-moz-background-size: 100%;
			-webkit-background-size: 100% 100%;
			background-image: url(/static/images/ores_logo.svg);
			background-size: 100%;
			display: block;
			height: var(--site__logo-height-large);
			margin-bottom: 2rem;
			margin-left: -2rem;
			margin-right: .8rem;
			vertical-align: middle;
			width: var(--site__logo-width-large);
			background-repeat: no-repeat;
		}
  </style>
</head>
<body class="page--home">
  <header id="header" class="header" role="banner">
    <div class="content-box">
    <a href="#content" class="is-aural is-focusable">Jump to content</a>
    <h1 class="site__title"><a href="./"><span class="site__logo"></span>maya</a></h1>
    </div>
  </header>
  <div class="page">
    <div class="content-box">
      <main id="content" class="content" role="main">
        <p style="margin-top: 12.5px;">maya is a web service that
        provides machine learning as a service for Wikimedia
        Projects, like Wikipedia and Wikidata. The system is
        designed to help human editors perform critical wiki-work
        and to increase their productivity by automating tasks like
        detecting vandalism and removing edits made in bad faith.
        maya &nbsp;is developed by <a href=
        "https://www.mediawiki.org/wiki/Wikimedia_Scoring_Platform_team">
        Wikimedia Scoring Platform</a>, a team that specializes in
        building transparent, auditable, open, and ethical
        artificial intelligence (AI) to support human
        decision-making.</p>
        <p>maya is intended to be used as a source of structured
        information by <a href=
        "https://tools.wmflabs.org/">volunteer tool developers</a>
        and product developers at the <a href=
        "https://wikimediafoundation.org/">Wikimedia Foundation</a>
        and <a href=
        "https://meta.wikimedia.org/wiki/Wikimedia_Deutschland">Wikimedia
        Deutschland</a>. Most users access maya via 3rd party tools
        like <a href=
        "https://en.wikipedia.org/wiki/Wikipedia:Huggle">Huggle</a>
        and <a href=
        "https://www.mediawiki.org/wiki/Edit_Review_Improvements/New_filters_for_edit_review">
        Special:RecentChanges on Wikimedia wikis</a>. To access
        maya scores, a simple scores API and a reference UI are
        available.</p>
          <br clear="all">{% if notice %}
        <div class="notice">
          {{ notice | safe }}
        </div>{% endif %}
        <h2>Scores API</h2>
        <p>Version 1 is the current and
        recommended version of the API.</p>
        <dl>
          <dt>
            Version 1 (<a href="/v1/">docs</a>)
          </dt>
          <dd style="padding-left: 1em;">The current recommended
          version of the API.<br>
          <i>Accessible via <a href=
          "/v1/scores/">/v1/scores/</a>.</i></dd>

        </dl>
        <h2>Further information</h2>
        <p>To read more about the service, see: <a href=
        "#">maya page at
        mediawiki.org</a> and our <a href=
        "#">FAQ page</a>.</p>
      </main>
    </div>
  </div>
  <footer id="footer" class="footer">
    <div class="content-box">
      <ul class="footer__list">
        <li>
          <a href="https://github.com/wahabjawed/wiki-maya">Contribute on
          GitHub</a>
        </li>

      </ul>
      <p><a href=
      "https://foundation.wikimedia.org/wiki/Non-wiki_privacy_policy">
      Privacy policy</a></p>
      <p>{{footer|default('Written in <a href=
      "https://python.org">Python 3</a>')|safe}}</p>
    </div>
  </footer>
</body>
</html>
